.about__container {
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .25), 0 8px 16px -8px rgba(0, 0, 0, .3), 0 -6px 16px -6px rgba(0, 0, 0, .025);
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  margin: 0 auto;
  margin-top:  100px;
  width: 100%;
  max-width: 400px;
  font-weight: 700;
  font-size: 50px;
}

.about__container:hover img {
  transform: rotateY(720deg);
  transition: 3s;
}

.about__container img {
  width: 100%;
}

.about__container p {
  text-align: center;
  margin: 0;
}

.about__container .about__info {
  padding: 20px 0;
  font-size: 20px;
  box-sizing: border-box;
  border: solid 2px #8a8d8a;
  border-radius: 10px;
  margin: 40px 0;
  font-weight: 400;
  background-color: #cacaca;
}

.about__container .about__info p:hover {
  color: #fff;
}

@media screen and (max-width: 1090px) {
  .about__container {
    margin-top: 40px;
    max-width: 300px;
    font-size: 40px;
  }

  .about__container .about__info {
    font-size: 15px;
  }
}